body{
width:100%;
height:100%;
position:absolute;
top:0;
left:0;
}/* You can add global styles to this file, and also import other style files */
header{
width:100%;
height: 10%;
position:absolute;
top:0;
left:0;
background-color: #f3bdbd;

}
#bodycontainer{
    height:80%;
    width:100%;
    position:absolute;
    top:20%;
    left:0;
    background-color:pink;
}
footer{
width:100%;
height:20%;
position:absolute;
bottom:0;
left:0;
background-color: #f3bdbd;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 90%;
}
/* You can add global styles to this file, and also import other style files */
